<link rel="stylesheet" href="../../assets/css/main.css">
<link rel="stylesheet" href="../../assets/css/util.css">
<div class="limiter">
    <div class="container-login100">
        <div class="wrap-login100 p-b-160 p-t-50">
            <form (ngSubmit)="registerUser(userForm.value)" [formGroup]="userForm" class="login100-form validate-form">
                <span class="login100-form-title p-b-43">
                    Sign Up
                </span>
                
                <div class="wrap-input100 rs1 validate-input">
                    <input class="input100" type="text" name="name" id="name" formControlName="name" placeholder="Name">
                </div>
                
                <div class="wrap-input100 rs2 validate-input">
                    <input class="input100" type="email" id="email" name="email" formControlName="email" placeholder="Email">
                </div>
                
                <div class="wrap-input100  validate-input">
                    <input class="input100" id="password" type="password" name="password" formControlName="password" placeholder="Password">
                </div>

                <div class="wrap-input100 validate-input" >
                    <input class="input100" type="password" name="confirm_password" id="confirm_password" formControlName="confirm_password" placeholder="Confirm Password">
                </div>

                <div class="container-login100-form-btn">
                    <button type="submit" class="login100-form-btn">
                        Sign Up
                    </button>
                </div>
                
                <div class="text-center w-full p-t-23">
                    <a routerLink="/signin" class="txt1">
                        Already have account?
                    </a>
                </div>
            </form>
        </div>
    </div>
</div>