h1 {
  color: #fff;
  font-family: 'Damion', cursive;
  font-weight: normal;
  text-align:center;
  text-shadow: 2px 2px 0 rgba(0, 0, 0, 0.3);
} 

.profile {
  border: 3px solid #fff;
	  /* border-radius: 100px; */
  box-shadow: 2px 2px 5px rgba(0,0,0,.3);
  float:left;
	  height: 150px;
  margin: 15px;
  overflow: hidden;
  width: 150px;
  transition: .5s;
}

.profile img {
  height: 115px;
  width: 100%;
}

.wrapper {
  width: 800px;
  margin: 0 auto;
}
.profile:hover {
  box-shadow: 5px 5px 10px rgba(0,0,0,.5);
  -ms-transform: scale(1.1);
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -o-transform: scale(1.1);
  transform: scale(1.1);
  transition: .5s;
}
.back {
  background-image: url('../../assets/images/sent.gif');
}