@import url(https://fonts.googleapis.com/css?family=Poiret+One);
body{
  margin:0;
  padding:0;
  font-family: 'Helvetica';
}
h1, h3{
  font-family: 'Poiret One', cursive;
}
section{
  width:70%;
  margin-left:200px;
}
#navbar{
  overflow:hidden;
	  width:200px;
	  height:100%;
	  position:fixed;
	  background-color:#FFFFFF;
	  top:0;
	  left:0;
	  z-index:499;
}
#primary_nav{
	  top:0px;
	  position: fixed;
	  display: block;
	  left: -115px;
	  width: 170px;
	  height: 100%;
	  background:rgba(43,150,182,.33);
	  z-index:500;
}
#primary_nav ul{
	  display: block;
	  margin-top:80px;
	  padding-left: 5px;
	  list-style: none;
}
#primary_nav ul li a{
	  display: block;
	  padding:0 0 25px 20px;
	  color: #FFF;
	  font-weight:bold;
	  font-size:15px;
	  text-decoration: none;
  	-webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  -ms-transition: all 0.2s ease;
  transition: all 0.2s ease;
}
#primary_nav ul li a:hover, #primary_nav ul li a:active{
	  color: #434244;
	  padding-left:17px;
  	text-decoration: none;
	  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  -ms-transition: all 0.2s ease;
  transition: all 0.2s ease;
}
#mobile_nav{
	  font-size:36px;
	  position: relative;
	  display: inline-block;
  	top:10px;
	  left:127px;
  color: #FFF;
	  text-decoration: none;
  z-index:1000;
}
#mobile_nav:hover{
  	color: #434244;
}