<link rel="stylesheet" href="../../assets/css/login-main.css">
<link rel="stylesheet" href="../../assets/css/login-util.css">
<div class="limiter">
    <div class="container-login100">
        <div class="wrap-login100">
            <form class="login100-form validate-form" [formGroup]="loginForm" (ngSubmit)="loginUser(loginForm.value)">
                <span class="login100-form-title p-b-43">
                    Login to continue
                </span>
                
                <div class="wrap-input100 validate-input">
                    <input class="input100" type="text" name="email" formControlName="email" placeholder="Email">
                    <span class="focus-input100"></span>
                </div>
                
                
                <div class="wrap-input100 validate-input">
                    <input class="input100" type="password" name="password" formControlName="password" placeholder="Password">
                    <span class="focus-input100"></span>
                </div>

                <div class="container-login100-form-btn">
                    <button type="submit" class="login100-form-btn">
                        Login
                    </button>
                </div>
                
                <div class="text-center p-t-46 p-b-20">
                    <span class="txt2">
                        <a routerLink="/">or sign up using</a>
                    </span>
                </div>
            </form>

            <div class="login100-more" style="background-image: url('../../assets/images/login.gif');">
            </div>
        </div>
    </div>
</div>